.track{
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 90vw;
    display: flex;
    cursor: pointer;
    .blip{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .blipToken:hover{
            color: rebeccapurple;
            font-weight: 700;
        }
        .blipToken.on{
            color: red;
            font-weight: 700;
        }
    }
}