@import "../variables";

#trackWrapper{
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
}
#debugArea{
    flex: 1;
    overflow: auto;
}
.track{
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    display: flex;
    cursor: pointer;
    .blip{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $bg-dark;
        background-color: transparentize($blip-color, 0.3);
        height: 2em;
        &.on{
            background-color: $blip-color;
        }
        &:hover{
            border-color: $blip-color;
        }
    }
}

#playHead{
    height: 100%;
    width: 1px;
    position: absolute;
    background-color: navy;
    left: 0%;
    transform: translateX(5%);
}